*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    position: sticky;
    top: 0px;
    left: 0;
    z-index: 2;
}

.nav_box_mi {
    width: 40px;
    height: 40px;
    background: url(./download.png) no-repeat center/cover;
}

.nav_box_mi h3 {
    color: #fff;
}

.nav__collection {
    display: flex;
    flex: 1;
}

.item{
    list-style: none;
    margin-left: 45px;
    color: black;
}
.nav__collection li:hover{
    text-decoration: underline;
    text-decoration-color: orange;
    cursor: pointer;
}


.nav__collection2 {
    display: flex;
}

.nav__collection2 li {
    list-style: none;
    color: black;
    margin-left: 30px;
    margin-right: 40px;
}

.nav__collection2 li:hover {
    text-decoration: underline;
    text-decoration-color: orange;
}

.nav_collection2_li_a {
    text-decoration: none;
    color: black;
}

.nav_collection2_li_a2 {
    text-decoration: none;
    color: black;
}
.a21{
    color: orange;
    text-decoration: underline;
}
.nav__collection li{
    list-style: none;
    margin-left: 45px;
    color: black;
}
.navbar_box{
    width: 50%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_box_diw{
    color: #ddd;
}
.navbar_box_text{
    color:  rgb(255, 106, 0);

}
.navbar_box_text1{
    color: #000;
}
.search_box{
    width: 80%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.btn{
    width: 80px;
    height: 35px;
    border-radius: 20px;
    color: white;
    background-color: rgb(255, 106, 0);
    border: none;
    margin-left: 20px;
    cursor: pointer;
}
.search_box i{
    font-size: 20px;
    color: #ddd;
}
.search_box_input{
    width: 250px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-left: 850px;
}
.search_box_input i{
    color: gray;
    margin-left: 10px;
    font-size: 15px;
}
.search_box_input input{
    color: gray;
    margin-left: 10px;
    width: 85%;
    border: none;
    outline: none;
}
.carousel{
    width: 80%;
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}
.carousel__container{
    width: 100%;
    height: 100%;
    display: flex;
    transition: .5s;
    transform: translateX(-00%);
}
.carousel__card{
    width: 100%;
    min-width: 100%;
    height: 100%;
}
.carousel__card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prev,
.next{
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 30px;
    background-color: transparent;
    color: #ddd;
    cursor: pointer;
}
.prev{
    left: 20px;
}
.next{
    right: 20px;
}
.banner_box{
    width: 80%;
    margin: auto;
    display: flex;  
    flex-wrap: wrap;
}
.banner_box_child_box{
    width: 48%;
    height: 400px;
    background-color: whitesmoke;
    margin: 10px 10px;
}
.banner_box_child_box_img{
    width: 100%;
    height: 70%;
    background: url('./APP_Video_1625x768\ \(8\).png') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_box_child_box_img2{
    width: 100%;
    height: 70%;
    background: url('./APP_Video_1625x768\ \(2\).png') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_box_child_box_img3{
    width: 100%;
    height: 70%;
    background: url('./APP_Video_1625x768.png') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_box_child_box_img4{
    width: 100%;
    height: 70%;
    background: url('./9590f456ff789956bc3d95e36d915268.png') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_box_child_box_img5{
    width: 100%;
    height: 70%;
    background: url('./APP_Video_1625x768\ \(7\).png') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_box_child_box_img6{
    width: 100%;
    height: 70%;
    background: url('./APP_Video_1625x768\ \(3\).png') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_box_child_box_img7{
    width: 100%;
    height: 70%;
    background: url('/APP_Video_1625x768\ \(7\).png') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_box_child_box_img8{
    width: 100%;
    height: 70%;
    background: url('./APP_Video_1625x768\ \(6\).png') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_box_child_box_img9{
    width: 100%;
    height: 70%;
    background: url('./APP_Video_1625x768\ \(4\).png') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_box_child_box_img10{
    width: 100%;
    height: 70%;
    background: url('./APP_Video_1625x768\ \(1\).png') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_box_child_box_img_video_icon_img{
    width: 100px;
    height: 100px;
}
.banner_box_p{
    margin: 25px 25px;
    font-size: 20px;
}
.banner_box_p2{
    margin: 20px 25px;
}
footer{
    width: 100%;
    height: 85vh;
    background-color: #111;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.footer_box1{
    width: 60%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer_box2{
    width: 40%;
    height: 67%;
    display: flex;
    justify-content: center;
}
.footer_box3{
    width: 97%;
    height: 80px;
    margin: auto;
}
.footer_box1_child{
    width: 20%;
    height: 85%;
}
.footer_box1_child_text{
    color: gray;
    cursor: pointer;
}
.footer_box1_child_text:hover{
    color: #fff;
    text-decoration: underline;
}
.text1{
    color: #fff;
    cursor: pointer;
}
.footer_box2_child{
    width: 70%;
    height: 70%;
    margin-top: 46px;
}
.footer_box2_child_text{
    color: #fff;
}
.footer_box2_child_box{
    width: 55%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer_box2_child_box i{
    font-size: 25px;
    color: gray;
    cursor: pointer;
}
.footer_box2_child_box i:hover{
    color: #fff;
}
.footer_box2_child_input_box{
    width: 100%;
    height: 55px;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.footer_box2_child_input_box_text{
    color: gray;
    margin-left: 10px;
}
.footer_box2_child_text_icon{
    width: 50px;
    height: 50px;
    margin-left: 210px;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_box2_child_text_icon i{
    font-size: 20px;
    color: #fff;
}
.footer_box3_child{
    display: flex;
    align-items: center;
}
.foter_box3_child_text{
    color: #fff;
}
.foter_box3_child_text:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer_box3_child i{
    color: #fff;
    margin-left: 10px;
}
.text2{
    margin-left: 100px;
    flex: 1;
}
.footer_box_phone{
    display: none;
}
.contact,
.about,
.home{
    width: 100%;
    height: 0px;
    position: fixed;
    top: 60px;
    left: 0;
    background: #ddd;
    transition: .3s;
    overflow: hidden;
}























































































































































































@media screen and (max-width:1290px) {
    .search_box{
        display: none;
    }
}

@media screen and (max-width:1023px) {
    .navbar_box{
        display: none;
    }
    nav{
        width: 100%;
        height: 30px;
    }
    .nav__collection2,
    .nav__collection{
        font-size: 10px;
    }
    .search_box{
        display: none;
    }
    .carousel{
        display: none;
    }
    .banner_box_child_box{
        margin: 10px 5px;
        width: 100%;
    }
    .footer_box2{
        display: none;
    }
    .footer_box1{
        width: 100%;
    }
}

@media screen and (max-width:766px) {
    .nav__collection2,
    .nav__collection{
       display: none;
    }
    .banner_box_child_box{
        margin: 10px 5px;
        width: 100%;
        height: 300px;
    }
    .banner_box_p{
        font-size: 15px;
    }
    .banner_box_p2{
        margin: 5px 25px;
    }
    footer{
        display: none;
    }
    .footer_box_phone{
        width: 100%;
        height: 250px;
        background-color: #111;
        margin-top: 50px;
        display: block;
    }
    .footer_box_phone_text{
        color: #fff;
        margin-left: 20px;
    }
    .footer_box_phone_icon{
        width: 40%;
        height: 50px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer_box_phone_icon i{
        color: gray;
    }
    .footer_box_phone_emeil{
        width: 90%;
        height: 35px;
        border: 1px solid #fff;
        margin: auto;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }
    .footer_box_phone_emeil_text{
        color: #fff;
        font-size: 13px;
        margin-left: 10px;
    }
    .footer_box_phone_emeil i{
        color: #fff;
        margin-left: 200px;
    }
    .footer_box_phone_emeil_text2{
        margin-left: 30px;
        color: #fff;
        font-size: 13px;
    }
    .footer_box_phone_cook_box{
    display: flex;
    }
    .footer_box_phone_cook_box_text{
        color: #fff;
        margin-left: 28px;
        font-size: 13px;
    }
    .footer_box_phone_cook_box_text2{
        color: #fff;
        margin-left: 160px;
        font-size: 13px;
    }
    .footer_box_phone_cook_box i{
        color: #fff;
        margin-left: 5px;
        font-size: 13px; 
    }
    .footer_box_phone_hr{
        width: 90%;
        margin: auto;
        color: #fff;
        margin-top: 10px;
    }
    .footer_box_phone_text2{
        color: gray;
        margin-left: 20px;
        font-size: 12px;
        margin-top: 10px;
    }
    .banner_box_child_box_img_video_icon_img{
        width: 50px;
        height: 50px;
    }
}